// Styles setup

// Using google fonts -- poppins
@use './variables' as *;

* {
    box-sizing: border-box;
    font-family: $font-fm;

    transition: all 0.7s ease;
}



body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;


    font-size: $base-fs;
    font-weight: $fw-300;

    background-color: $grey;
}


.error__page{
    // background-color: red;
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .img {
        width: 400px;
        height: 400px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

h1{
    font-size: 4rem;
    margin-inline: 0rem;
}

h2{
    margin-block: 2.9rem;
    margin-inline: 0rem;
    font-size: 3.3rem;
}

p{
    font-size: 1.5rem;
    margin-inline: 0rem;
}

a{
    text-decoration: none;
}


section {

    .content{
        margin: 3rem;
        margin-inline: 7rem;
    }

    &.fill{
        background-color: $primary1;
        color: $grey;
        padding-top: 3rem;
    }
}

section#header{

    position: relative;
    
    
    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .brand{
            width: 150px;
        }

        .user{
            width: 30px;
            cursor: pointer;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    .grand{
        color: $primary2;
        font-size: 4rem;
        margin-top: 5rem;
        margin-bottom: 2rem;
    }

    .tags{
        display: flex;
        align-items: center;
        gap: 25px;
        font-weight: 700;
        flex-wrap: wrap;

        // margin-block: 2rem;
    }


    .buttin{
        // padding-block: 5rem;
        margin-block: 5rem;
    }
}

button:not(.chat_cta){
    display: block;
    width: 200px;
    padding-block: .9rem;
    border-radius: 2.3rem;
    border: 4px solid $grey;
    color: $grey;
    accent-color: $primary1;
    background-color: $primary1;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;

    box-shadow: 0px 3px 1px $primary1;


    cursor: pointer;


    &:hover{
        background-color: $primary4;
        box-shadow: 1px 1px 1px $primary4;
    }

    &:disabled{
        opacity: .7;
        &:hover {
            background-color: $primary4;
            box-shadow: none;
        }
    }
}


.articles {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    gap: 20px;

    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        text-align: center;

        h2 {
            font-size: 1.89rem;
            font-weight: 500;
            margin-top: 1.9rem;
        }

    }
}

.cta{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    padding-bottom: 5rem;

    .imgg{
        width: 60%;
    }

    h2{
        font-size: 2.8rem;
    }

    &-txt{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.img-lists{
    display: flex;
    align-items: center;
    justify-content: space-around;

    img{
        max-width: 300px;
    }
}

img{
    max-width: 100%;
}
.mt-5{
    margin-top: 8rem;
}


.auth__page{
    // background-color: red;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &--content{
        background-color: lighten($color: $grey, $amount: 20%);
        max-width: 90%;
        min-height: 300px;

        width: 360px;

        padding-inline:  .9rem;
        padding-block: .5rem;
        border-radius: 6px;
    }

    &--content{
        h4{
            margin: 0;
            font-size: 1.32rem;
            font-family: 700;
        }

        a{
            color: $primary3;    
        }

        .header{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: 500;

            row-gap: 30px;
            .himg{
                display: flex;
                align-items: center;
                justify-content: center;
                width:190px;
                margin: 0;
            }

            .htxt{
                display: flex;
                align-items: center;
                justify-content: space-between;
                // background-color: red;
                
                width: 100%;
                span {
                    font-size: .9rem;
                }
            }
        }
    }
}

form{
    // background-color: red;
    padding-block: .1rem;
    button {
        min-width: 200px;
        padding-block: .5rem !important;
        border-radius: .3rem !important;
        border-width: 2px !important;;
        font-size: .97rem !important;;

        margin: 0 auto !important;;


        cursor: pointer;

        // box-shadow: none;


        &:hover {
            background-color: $primary4;
            // box-shadow: 1px 1px 1px $primary4;
        }
    }

    span, .err {
        color: darken(tomato, 20%);
        font-size: .85rem;
        font-weight: 500;
        margin-left: .3rem;
        visibility: hidden;

        &[data-msg="true"] {
            visibility: visible;
        }
    }

    .err.center{
        display: block;
        text-align: center;
    }
}

.form-group{
    margin: 1rem .5rem;

    label{
        font-weight: 500;
        font-size: .87rem;
    }

    input{
        display: block;
        width: 100%;
        padding-block: .7rem;
        padding-inline-start: 1rem;
        padding-inline-end: .5rem;

        font-size: .95rem;

        border: 1px solid $grey;
        outline: none;

        border-radius: .2rem;

        &:focus{
            border-color: $primary3;
        }

        &::placeholder{
            font-size: .75rem;
        }

        &:user-invalid{
            border-color: tomato;
        }
    }

    
}

@media screen and (max-width: $mobile-breakpoint) {
    h1 {
        font-size: 3rem;
        // margin-top: 3rem;
    }

    h2 {
        margin-block: .9rem;
        // margin-inline: 0;
        font-size: 2.3rem;
        // background-color: red;
    }

    p {
        font-size: 1.2rem;
    }

    section {

        .content{
            margin-inline: 1.5rem;
        }

        &#header {

            .top {
                .brand {
                    width: 120px;
                }
            }

        }
    }


    .articles {
        flex-direction: column;
        img {
                width: 80px;
                height: auto;
                margin-right: 10px;
            }

        article {
            
            text-align: right;
            flex-direction: row;

            h2 {
                font-size: 1.89rem;
                font-weight: 500;
                margin-top: 1.9rem;
            }

        }
    }

    .cta {
        display: flex;
        flex-direction: column;
        text-align: center;

        gap: 40px;

        &-txt {
            gap: 20px;
        }
    }

    .img-lists {
        flex-direction: column;
        gap: 50px;
    }
}