// Styles setup

// Using google fonts -- poppins
@use './variables' as *;

* {
    box-sizing: border-box;
    font-family: $font-fm;

    transition: all 0.7s ease;
}

body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;


    font-size: $base-fs;
    font-weight: $fw-300;

    background-color: $grey;
}


.error__page{
    // background-color: red;
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .img {
        width: 400px;
        height: 400px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

section{
    margin: 3rem;
    margin-inline: 7rem;
}

section#header{
    
    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .brand{
            width: 150px;
        }

        .user{
            width: 30px;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    .grand{
        color: $primary2;
        font-size: 4rem;
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    section {
        margin-inline: 1.5rem;

        &#header {
        
            .top {
                .brand {
                    width: 120px;
                }
            }
        }
    }
}