// Colors
// pallete source: https://colorpalettefromimage.com/palette/e9deed-242424-b404fc-ac04f4-1b1c1c-be26f4-ca52fc-888c3c
$grey: #e9deed;
$grey100: #c7c7c7;
$primary1: #ac04f4;
$primary2: #b404fc;
$primary3: #be26f4;
$primary4: #ca52fc;
$dark1: #1b1c1c;
$dark2: #242424;

// ============ Font and sizes ==========
$base-fs: 18px;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;
$font-fm: 'Yantramanav', sans-serif;

// Breakpoint
$mobile-breakpoint: 800px;